# MongoDB Connection (Atlas)
MONGO_URI= Welcome 

# JWT Configuration
JWT_SECRET= 
JWT_EXPIRES_IN= 0 sec

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=p_for_pratik143

# Server Configuration
NODE_ENV=
PORT=
LOG_LEVEL=

